{%  extends 'option_pricing/main.html' %}

{% block content %}
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h5>First Query</h5>
            <hr>
            <br>
    
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <div class="overflow-auto">
                    <table class="table table-bordered">
                        <tr>
                            <th>Date</th>
                            <th>Asset</th>
                            <th>Option Type</th>
                            <th>Strike</th>
                            <th>Expiration Month</th>
                            <th>Expiration Year</th>
                            <th>Closing Price</th>
                            <th>Change</th>
                            <th>Volume</th>
                            <th>Max</th>
                            <th>Min</th>
                            <th>Trades</th>
                            <th>Fixing Price</th>
                            <th>Open Interest</th>
                        </tr>
                        
                        {% for option in page_obj %}
                            <tr>
                                <td>{{option.date|date:"SHORT_DATE_FORMAT"}}</td>
                                <td>{{option.asset}}</td>
                                <td>{{option.optiontype}}</td>
                                <td>{{option.strike}}</td>
                                <td>{{option.expmonthyear|date:"M"}}</td>
                                <td>{{option.expmonthyear|date:"Y"}}</td>
                                <td>{{option.closing_price}}</td>
                                <td>{{option.change}}</td>
                                <td>{{option.volume}}</td>
                                <td>{{option.max}}</td>
                                <td>{{option.min}}</td>
                                <td>{{option.trades}}</td>
                                <td>{{option.fixing_price}}</td>
                                <td>{{option.open_interest}}</td>
            
                            </tr>
                        {% endfor %}
                        
                
                    </table>
            
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</div>

{% endblock %}